.profile-container {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--v-accent-lighten2);

  .v-parallax {
    width: 100vw;
  }

  .profile-wrap {
    position: absolute;
    margin-bottom: 20px;
    top: 300px;
  }

  .picture {
    margin-top: -64px;
    display: inline-block;
    button {
      width: 160px;
      height: 160px;
    }
  }
}
